{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href=" {% url 'Home' %}">ChatApp</a>

        <a href="{% url 'Messages' %}" class="text-white text-decoration-none ms-3">Mensagens</a>
        <a href="{% url 'Adicionar_Amigos' %}" class="text-white text-decoration-none ms-3">Amigos</a>

        <div class="dropdown ms-auto">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="navbarUser" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fw-semibold">{{ request.session.name }}</span>
                {% if request.session.picture %}
                    <img src="{{ request.session.picture }}" alt="User" style="height: 30px;" class="rounded-circle ms-3">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="User" style="height: 30px;" class="rounded-circle ms-3">                
                {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUser">
                <li><a class="dropdown-item" href="{% url 'User_Page' request.session.user_id %}">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'Editar' request.session.user_id %}">Editar Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'Logout' %}">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>