{% load static %}
{% load custom_filters %}

<div class="col-md-3 bg-secondary p-3" style="height: 92vh;">
    <form id="search-user-form" method="GET" action="{% url 'Messages' %}">
      <div class="input-group mb-4">
        <input type="text" class="form-control ps-5" id="name" name="name" value="{{ request.GET.name }}" placeholder="Buscar por nome">
        <button type="submit" class="btn btn-primary rounded-end"><i class="bi bi-search"></i></button>
      </div>
    </form>

    {% for user in users %}
    <a href="{% url 'Messages' %}?id_receiver={{ user.id }} " class="text-white text-decoration-none">
    <div class="d-flex align-items-center bg-primary bg-opacity-75 rounded p-2 mb-3">
        {% if user.picture %}
            <img src="{{ user.picture.url }}" class="rounded-circle me-3" style="width: 50px; height: 45px;" alt="Avatar de {{ user.name }}">
        {% else %}
            <img src="{% static 'images/default.png' %}" class="rounded-circle me-3" style="width: 50px; height: 45px;" alt="Avatar padrão">
        {% endif %}                    
        <div class="d-flex justify-content-between w-100 px-2">
          <span class="fw-semibold">{{ user.name }}</span>
          {% with unread_counts|get_item:user.id as count %}
            {% if count %}
              <span class="badge bg-danger align-self-center">{{ count }}</span>
            {% endif %}
          {% endwith %}
        </div>
            
    </div>
    </a>
    {% endfor %}
</div>